{{on-document 'keyup' this.onKeyup}}

<div class='guesses'>
  {{#each this.guesses as |guess|}}
    {{log guess}}
    <div class='row'>
      {{#each guess as |letter|}}
        {{log 'Letter: ' letter}}
        <div class='letter'>
          {{uppercase letter}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

<div class='keyboard'>
  {{#each this.keyLayout as |row|}}
    <div class='row'>
      {{#each row as |key|}}
        <button type='button' class='key' {{on 'click' (fn this.onClick key)}}>
          {{uppercase key}}
        </button>
      {{/each}}
    </div>
  {{/each}}
</div>

<h1>
  Current Guess: {{this.currentGuess}}
</h1>